
.title {
  text-align: center;
  /* border: 1px solid olive; */
  font-size: 3rem;
  margin: 8%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}