.card {
  /* border: 2px solid gray; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13rem;
  /* width: 250px; */
  /* height: fit-content; */
  /* height: 90vh; */
  /* height: 500px; */
  /* padding: 0 2rem 2rem 2rem; */
  /* border-radius: 1rem; */
  /* z-index: 500px; */
}

.card img {
  margin: 0;
  border: 2px solid gray;
  /* margin-top: -20%; */
  width: 100%;
  border-radius: 1rem;
}

.button_download {
  border-style: none;
  color: #35a69b;
  background-color: #111111;
  border: 1px solid #35a69b;
  height: 2rem;
  margin: 0.5rem;
  /* width: 150px; */
  border-radius: 0.5rem;
}

.button_add {
  border-style: none;
  color: #f5f5f8;
  color: #de8200;
  background-color: #111111;
  border: 1px solid #de8200;
  height: 2rem;
  margin: 0.5rem;
  /* width: 150px; */
  border-radius: 0.5rem;
}