.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register, .register a:visited, .register a:link {
  color: rgb(81, 81, 81);
  font-size: 0.8rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
}


