.top_container {
  /* border: 2px dashed yellow ; */
  width: 100%;
  height: 2.7rem;
}

.container {
  /* border: 1px solid green; */
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  /* height: 100%; */
  height: 100vh;
  margin-top: 2rem;
}

.title {
  color:aliceblue;
  font-size: 1.5rem;
  margin: 1rem;
}

.details {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100%, 450px);
  padding-bottom: 5%;
}

.details form {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.register, .register a:visited, .register a:link {
  color: rgb(242, 242, 242);
  font-size: 0.8rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.create_account {
  display: flex;
  flex-direction: row;
}

.login_button {
  background-color: #0089cc;
  color: aliceblue;
  padding: 0.8rem;
  border-radius: 0.3rem;
  margin: 1.1rem 0.5rem 1.5rem 0.5rem;
  font-size: 1rem;
  border-style: none;
}