
.hero {
  background-image: url("../../img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  /* height: 816px; */
  height: 100vh;
  background-size: cover;
  /* border: 1px solid red; */
}

/* @media screen and (max-width: 960px) {
  .hero {
    height: 950px;
  }
} */