@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: sans-serif, sans-serif;
  /* background-color: #F2E9EB; */
  /* background-color: #111111; */
}

a {
  text-decoration: none;
}

/* Pretty in Pink */
.my-color-palette {
  color: #F2E9EB;
  color: #DD8EA4;
  color: #FEDD89;
  color: #31383F;
}