.header {
  /* background: #F2E9EB; */
  /*border-bottom: 1px solid #e72929;*/
  padding-left: 10%;
  padding-right: 10%;
}

.header a{

}

.header a:hover{
  /*background: #e72929;*/
  /*color: white;*/
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
  color: #DD8EA4;
  font-family: fantasy;
  font-size: 30px;
}

.header ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a{
  color: gray;
  padding: 1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.cart_count {
  background-color: #DD8EA4;
  color:white;
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  font-size: 0.6rem;
}