.frame {
  border: 1px solid blueviolet;
  /* height: 310px; */
  width: 180px;
  /* background-color: rgb(255,255,255); */
  background-color: gray;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0.5rem;
  margin: 5%;
  box-shadow: 3px 3px 5px 2px rgba(142, 142, 142, 0.25);
}

.container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  width: 160px;
  height: 240px;
}

.image {
  max-width: 100%;
  object-fit: contain;
}

.text {
  width: 160px;
  height: 1.6rem;
  font-size: 0.7rem;
  color: rgb(46, 46, 46);
  /* word-wrap: break-word; */
  overflow:hidden;
}

.price {
  width: 160px;
  font-size: 0.9rem;
  margin-top: 9px;
  font-weight: bold;
  color: rgb(33, 33, 33);
}